<aside class="main-sidebar sidebar-dark-primary elevation-4">
    @await Html.PartialAsync("_SideBar.Logo.cshtml")
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/lib/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block" href="javascript:void(0);">Admin</a>
            </div>
        </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a asp-action="Index" asp-controller="Categories" asp-area="Admin" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
               Danh mục
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a asp-action="Index" asp-controller="Products" asp-area="Admin"  class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
               Sản phẩm
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a asp-action="Index" asp-controller="Orders" asp-area="Admin" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Đơn Hàng
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</aside>
